*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb
*.obj
*.iobj
*.ipdb
*.pch
*.ipch
Client/Binaries/
Client/Intermediate/
Client/Resources/
Client/Debug/

Libraries/**/*.pdb
Libraries/**/*.idb
!Libraries/**/*.lib
!Libraries/**/*.dll

.vs/
*.user
*.suo